.sec02{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#ffffffe9, #ffffffe9), url(../Img/vecteezy_indian-traditional-and-cultural-rangoli-alpona-kolam-or_4297223-removebg-preview.png);
}

